version: "3"
services:
  db:
    container_name: "db_try"
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: "internship"
      MYSQL_ROOT_PASSWORD: "pass"
    volumes:
      - db_try:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    build: .
    container_name: go
    ports:
      - "9090:9090"
    depends_on:
      db:
        condition: service_healthy
    environment:
      MYSQL_HOST: "db_try"
      MYSQL_USER: "root"
      MYSQL_PASS: "pass"
      MYSQL_port: 3306
volumes: 
  db_try:



